*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
line-height:1.6;
color:#333;
}

.container{
max-width:1200px;
margin:auto;
padding:0 20px;
}

.home-head{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #F39625;
    margin-bottom: 20px;
}
.section{
padding:80px 0;
background-color: #eaf2ff;
}

.bg-light{
background:#f7f7f7;
}

.section-title{
text-align:center;
margin-bottom:20px;
font-size:40px;
font-weight: 600;
color: #1F407B;
}

.section-desc{
text-align:center;
max-width:700px;
margin:auto;
margin-bottom:50px;
color:#666;
}

.hero{
background:#0f172a;
color:white;
padding:100px 0;
}

.hero-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}

.hero h1{
font-size:40px;
margin-bottom:20px;
}

.subheading{
font-size:18px;
margin-bottom:15px;
}

.support-text{
margin-bottom:25px;
}

.cta-buttons{
display:flex;
gap:15px;
margin-bottom:20px;
}

.cta-buttons .btn{
padding:12px 25px;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

.cta-buttons .primary{
background:#3b82f6;
color:white;
}

.cta-buttons .secondary{
background:white;
color:#0f172a;
}

.trust span{
display:block;
font-size:14px;
margin-top:5px;
}

.hero-image img{
width:100%;
}

.grid-4{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.grid-3{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}

.grid-2{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.card{
background:white;
padding:25px;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}
.card h3{
    color:#F39625;
    font-size: 18px;
    font-weight: bold;
}

.two-column{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}

.two-column img{
width:100%;
border-radius:8px;
}

.audience p{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:12px;
    font-size: 18px;
}
.audience i{
    padding:6px;
    height:35px;
    width:35px;
    background-color:#F39625;
    color:white;
    text-align:center;
    border-radius:7px;
    margin-right:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:14px;
}

.testimonial-carousel{
overflow:hidden;
}

.testimonial-track{
display:flex;
gap:20px;
transition:transform 0.5s ease;
}

.testimonial{
min-width:33.33%;
background:white;
padding:25px;
border-radius:8px;
}
.testimonial-carousel{
overflow:hidden;
}

.testimonial-track{
display:flex;
transition:0.5s;
}

.carousel-buttons{
text-align:center;
margin-top:20px;
}

.carousel-buttons button{
padding:8px 18px;
margin:5px;
border:none;
background:#F39625;
color:white;
border-radius:5px;
cursor:pointer;
}

.carousel-buttons button:hover{
background:#1F407B;
}



.cta{
background:#3b82f6;
color:white;
padding:80px 0;
text-align:center;
}


.center{
text-align:center;
}
footer{
background:black;
color:white;
padding:50px 0;
}

.footer-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

footer h3{
margin-bottom:10px;
}

footer p{
margin:5px 0;
}

/* Mobile Responsive */
@media (max-width:768px){

.footer-grid{
grid-template-columns:1fr;
text-align:center;
}

}
.copyright{
text-align:center;
margin-top:30px;
font-size:14px;
}

/* RESPONSIVE */

@media(max-width:900px){

.hero-grid{
grid-template-columns:1fr;
}

.two-column{
grid-template-columns:1fr;
}

.grid-4{
grid-template-columns:1fr 1fr;
}

.grid-3{
grid-template-columns:1fr 1fr;
}

}

@media(max-width:600px){

.grid-4,
.grid-3,
.grid-2{
grid-template-columns:1fr;
}

.hero h1{
font-size:28px;
}

.cta-buttons{
flex-direction:column;
}

}
